<section id="hero" class="section hero-section">
  <div class="hero-wrap">
    <div class="container hero-container">
      <div class="hero-content">
        <h1 class="hero-title">
          Discover the joy of learning
          <span class="hero-title-part">English</span> with us!
        </h1>
        <a href="#contact-us" class="hero-btn btn">Leave an application</a>
      </div>
      <a href="#footer" class="scroll-down" aria-label="Scroll down">
        <svg class="scroll-down-icon" width="20" height="20">
          <use href="./images/icons.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
