<section class="lessons container" id="lessons">
  <div class="section-header">
    <h2 class="section-header__title">Our <span class="highlight">lessons</span></h2>
    <p class="section-header__text">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
  </div>

  <ul class="lessons-list">
    <li class="lesson-card">
      <span class="lesson-card__name">Practice</span>
      <span class="lesson-card__price">40$ / month</span>
      <p class="lesson-card__text">
        This plan offers an opportunity for learners to engage in collaborative
        language exercises and group activities, boosting their conversational
        skills and confidence in using English.
      </p>
      <a class="btn" href="#contact">Leave an application</a>
    </li>

    <li class="lesson-card lesson-card--featured">
      <span class="lesson-card__name">Standard</span>
      <span class="lesson-card__price">70$ / month</span>
      <p class="lesson-card__text">
        Our standard package provides a balanced learning approach that covers
        all key areas of English language - reading, writing, listening, and
        speaking. It is a set of basic knowledge and skills.
      </p>
      <a class="btn" href="#contact">Leave an application</a>
    </li>

    <li class="lesson-card">
      <span class="lesson-card__name">Individual</span>
      <span class="lesson-card__price">99$ / month</span>
      <p class="lesson-card__text">
        We offer a tailored learning experience with individualized instruction
        that focuses on a learner's specific language goals and challenges,
        offering personal feedback.
      </p>
      <a class="btn" href="#contact">Leave an application</a>
    </li>
  </ul>
</section>
