<section class="teachers section" id="teachers">
  <div class="container">
    <h2 class="teacher-title">Meet our <span class="teacher-title-accent">teachers</span>
    </h2>
    <p class="teacher-description">Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction</p>
    <ul class="teacher-list">
      <li class="teacher-card">
        <img
          srcset="../images/img-1.jpg 1x, ../images/img-1-2x.jpg 2x"
          src="../images/img-1.jpg"
          alt="photo of teacher Maria"
          width="150"
          height="150"
          class="teacher-image"
        />
        <h3 class="teacher-card-title">Maria</h3>
        <p class="teacher-card-text">A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class</p>
      </li>
      <li class="teacher-card">
        <img
          srcset="../images/img-2.jpg 1x, ../images/img-2-2x.jpg 2x"
          src="../images/img-2.jpg"
          alt="photo of teacher Artem"
          width="150"
          height="150"
          class="teacher-image"
        />
        <h3 class="teacher-card-title">Artem</h3>
        <p class="teacher-card-text">With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated</p>
      </li>
      <li class="teacher-card">
        <img
          srcset="../images/img-3.jpg 1x, ../images/img-3-2x.jpg 2x"
          src="../images/img-3.jpg"
          alt="photo of teacher Ilona"
          width="150"
          height="150"
          class="teacher-image"
        />
        <h3 class="teacher-card-title">Ilona</h3>
        <p class="teacher-card-text">A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks</p>
      </li>
      <li class="teacher-card">
        <img
          srcset="../images/img-4.jpg 1x, ../images/img-4-2x.jpg 2x"
          src="../images/img-4.jpg"
          alt="photo of teacher Volodymyr"
          width="150"
          height="150"
          class="teacher-image"
        />
        <h3 class="teacher-card-title">Volodymyr</h3>
        <p class="teacher-card-text">Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs</p>
      </li>
    </ul>
  </div>
</section>
