:root {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

.sr-only,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}
