.teacher-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.teacher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  margin-bottom: 40px;
}

.teacher-card:last-child {
  margin-bottom: 0;
}

.teacher-image {
  border-radius: var(--radius-round);
  margin-bottom: 16px;
}

.teacher-card-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 8px;
}

.teacher-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--color-muted);
}

@media only screen and (min-width: 768px) {
  .teacher-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .teacher-card {
    width: calc((100% - 32px) / 2);
    margin-bottom: 0;
  }

  .teacher-card-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 1280px) {
  .teacher-card {
    width: calc((100% - 96px) / 4);
  }
}
